{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <p>
                <a href="{% url 'create_task' %}">Create new task</a>
            
            </p>            
            {% for project in projects %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td>
                                        {{ project.items.all|length }}                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% empty %}
                        <p>You are not assigned to any projects</p>
                    {% endfor %}
                </div>
            </main>
        {% endblock content %}